* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --main-bg-color: rgb(74, 72, 210);
}

nav {
    /* background-color: var(--main-bg-color); */
    background-image: url('/images/abs9.jpg');
    background-size: cover;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 
}

nav ul li {
    list-style: none;
    /* margin: 0px 46px; */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 27px;
    /* font-weight: bold; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a:hover {
    color: gold;
    border-bottom: 3px solid gold;
}

.logo {
    /* margin: 0px auto; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-family: cursive;
    height: 10vh;
    width: 60vw;
    margin: 52px;
}

.logo1 {
    text-decoration: none;
    color: white;
    font-size: 34px;
    font-family: cursive;
}

.right {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0px 100px; */
    width: 40vw;
    height: 10vh;
    align-items: center;
    margin: 0px 50px 0px 0px;
}

main {
    min-height: calc(100vh - 10vh - 10vh);
    display: flex;
    justify-content: center;
    background-image: url('/images/abs3.jpg');
    background-size: cover;

}

.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0px;
    height: 110vh;
    width: 50vw;
    /* background-color: red; */
    padding: 15px;
}

.abt{
    font-size: 20px;
    color: black;
}

h1{

    color: brown;
}

h2{

    color: brown;
}

/* .main2 {
    background-color: var(--main-bg-color);
    background-image: url('/images/abs9.jpg');
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

footer {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g1 {
    font-size: 32px;
}

.g2 {
    font-size: 32px;
}

.fleft {
    color: white;
    width: 30vw;
    margin: 0px 40px;
}

.fcenter {
    color: white;
    width: 30vw;
    margin: 0px 40px;
}

.fright {
    color: white;
    width: 30vw;
    margin: 0px 40px;
}

.foot {
    color: white;
}