* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: rgb(74, 72, 210);
}

nav {
    /* background-color: var(--main-bg-color); */
    background-image: url('/images/abs9.jpg');
    background-size: cover;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



nav ul li {
    list-style: none;
    /* margin: 0px 46px; */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 27px;
    /* font-weight: bold; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li a:hover {
    color: gold;
    border-bottom: 3px solid gold;
}

.logo {
    /* margin: 0px auto; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    font-family: cursive;
    height: 10vh;
    width: 60vw;
    margin: 52px;
}

.logo1 {
    text-decoration: none;
    color: white;
    font-size: 34px;
}

.right {
    display: flex;
    justify-content: space-evenly;
    /* margin: 0px 100px; */
    width: 40vw;
    height: 10vh;
    align-items: center;
    margin: 0px 50px 0px 0px;
}

main {
    min-height: calc(100vh - 10vh - 10vh);
    background-image: url('/images/abs3.jpg');
    background-size: cover;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 40vh;
    background-image: url("/images/img3.webp");
    background-size: cover;
}

h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

::placeholder {
    color: white;
}

.srch {
    height: 4vh;
    width: 40vw;
    padding: 10px;
    font-size: 22px;
    border-radius: 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    text-align: center;
    opacity: 0.7;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    overflow: hidden;
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 50px 0px;
    overflow: hidden;
}

.box1 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/buy.jpg");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}

.box2 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/sell.webp");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}

.box3 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/rent.jpg");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}

.box111 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/sfhome.jpg");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}

.box211 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/apartement.webp");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}

.box311 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/mansion.jpg");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}

.box411 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/gateway2.webp");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}


.box511 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/qminar.jpg");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}


.box611 {
    border: 2px solid black;
    height: 25vh;
    margin: 0px 10px;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/bmonument.jpg");
    background-size: cover;
    background-color: rgb(87, 94, 112);
    background-blend-mode: multiply;
}


.btn1 {
    width: 80px;
    height: 30px;
    margin: 10px 0px;
    background-color: rgb(46, 129, 196);
    border: 2px solid white;
    color: white;
    border-radius: 9px;
}

.btn2 {
    width: 80px;
    height: 30px;
    margin: 10px 0px;
    background-color: rgb(46, 129, 196);
    border: 2px solid white;
    color: white;
    border-radius: 9px;
}

.btn3 {
    width: 80px;
    height: 30px;
    margin: 10px 0px;
    background-color: rgb(46, 129, 196);
    border: 2px solid white;
    color: white;
    border-radius: 9px;
}

.box1 .btn1 a {
    text-decoration: none;
    color: white;
}

.container2 .box1:hover {
    background-color: forestgreen;
}

.container2 .box2:hover {
    background-color: forestgreen;
}

.container2 .box3:hover {
    background-color: forestgreen;
}

.container3 .box111:hover {
    background-color: forestgreen;
}

.container3 .box211:hover {
    background-color: forestgreen;
}

.container3 .box311:hover {
    background-color: forestgreen;
}

.container4 .box411:hover {
    background-color: forestgreen;
}

.container4 .box511:hover {
    background-color: forestgreen;
}

.container4 .box611:hover {
    background-color: forestgreen;
}

.box2 .btn2 a {
    text-decoration: none;
    color: white;
}

.box3 .btn3 a {
    text-decoration: none;
    color: white;
}

.box111 .btn1 a {
    text-decoration: none;
    color: white;
}

.box211 .btn2 a {
    text-decoration: none;
    color: white;
}

.box311 .btn3 a {
    text-decoration: none;
    color: white;
}

.box411 .btn1 a {
    text-decoration: none;
    color: white;
}

.box511 .btn2 a {
    text-decoration: none;
    color: white;
}

.box611 .btn3 a {
    text-decoration: none;
    color: white;
}

.container2 .box1 .btn1:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container2 .box2 .btn2:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container2 .box3 .btn3:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container3 .box111 .btn1:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container3 .box211 .btn2:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container3 .box311 .btn3:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container4 .box411 .btn1:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container4 .box511 .btn2:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container4 .box611 .btn3:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
    cursor: pointer;
}

.container3 .box1 .btn1:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
}

.container3 .box2 .btn2:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
}

.container3 .box3 .btn3:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
}

.container4 .box1 .btn1:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;

}

.container4 .box2 .btn2:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;

}

.container4 .box3 .btn3:hover {
    font-weight: 750;
    font-size: 18px;
    background-color: red;
}

h1 {
    margin: 20px 0px -20px 10px;
    color: black;
}

.buy {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    text-align: center;
}

.sell {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rent {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.expc {
    text-align: center;
    color: rgb(74, 72, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gold;
}

.pptg {
    text-align: center;
    color: rgb(74, 72, 210);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: gold;
    height: 40px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main2 {
    /* background-color: var(--main-bg-color); */
    background-image: url('/images/abs9.jpg');
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.g1 {
    font-size: 32px;
}

.g2 {
    font-size: 32px;
}

.fleft {
    color: white;
    width: 30vw;
    margin: 0px 40px;
}

.fcenter {
    color: white;
    width: 30vw;
    margin: 0px 40px;
}

.fright {
    color: white;
    width: 30vw;
    margin: 0px 40px;
}

.foot {
    color: white;
}