*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --main-bg-color: rgb(74, 72, 210);
}

.logo {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    /* background-color: var(--main-bg-color); */
    background-image: url('/images/abs9.jpg');
    background-size: cover;
}

.logo1 {
    text-decoration: none;
    color: white;
    margin: 0px 220px;
    font-weight: bold;
    font-size: 34px;
    font-family: cursive;
}

main {
    min-height: calc(100vh - 10vh - 10vh);
}

main{
    display: flex;

}

.left{
    width: 30vw;
    background-color: gold;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 50px 50px;
    background-image: url('/images/abs6.jpg');
    background-size: cover;
}

.l1{
    font-size: 40px;
    margin-bottom: 25px;
}

ul li{
    font-size: large;

}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 80vh;
    width: 70vw;
    padding: 50px 50px;
    background-image: url('/images/abs3.jpg');
    background-size: cover;
}

.lgin{
    height: 80vh;
    width: 25vw;
    margin-bottom: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid black;
    background-image: url('/images/abs6.jpg');
    background-size: cover;
}

.youare{
    margin: 25px 15px;
    font-size: 20px;
    font-weight: bold;
}

/* .contact{
    display: flex;
    justify-content: space-evenly;
} */

.mno{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.mob{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 1px;
}

.lginp{
    font-size: 30px;
    margin: 10px 0px 25px 0px;
    text-align: center;
}

.lgint{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log{
    height: 3vh;
    width: 20vw;
    font-size: 15px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 15px 0px;
    /* display: flex; */
    /* justify-content: center; */
}

.btn{
    background-color: rgb(41, 103, 175);
    color: white;
    margin: 25px 0px;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 21.5vw;
    font-size: 20px;
}

.btn a{
    color: white;
    text-decoration: none;
}

/* .lginb{
    background-color: gold;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/abs6.jpg');
    background-size: cover;
}

.lginb a{
    color: rgb(41, 103, 175);
    text-decoration: none;
} */

.lginp2{
    font-size: 20px;

    text-align: center;
}

.right .lgin .lgint .btn:hover{
    background-color: gold;
}

.sup:hover{
    color: gold;
    border-bottom: 3px solid gold;
}


footer {
    background-color: black;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    color: white;
    text-align: center;
}